<section>
	<h2>There are {{restaurants.length}} sauces</h2>
	{{#each restaurants}} <!-- for each sauce in sauces, create this html -->
		<article class="clearfix item-container block">
			<h2>{{name}}</h2>
			<img class="item-img" src="{{image}}" />
			<a class="btn" href="/restaurants/{{id}}">View Restaurant</a>
		</article>
	{{/each}}
</section>